@page "/ingredient"

@inject HttpClient http
@inject IJSRuntime js

<h3>Ingredients</h3>
<div class="form-group">
    <a class="btn btn-success" href="ingredient/create"><i class="oi oi-plus"></i> Create New</a>
</div>
<br />

@if (Ingredients == null)
{
    <p><em>Loading...</em></p>
}
else if (Ingredients.Count == 0)
{
    <text>No Records Found.</text>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Photo</th>
                <th>Price</th>
                <th>IsEnabled</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Ingredients)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Title</td>
                    <td>@item.Photo</td>
                    <td>@item.Price</td>
                    <td>@item.IsEnabled</td>
                    <td><a class="btn btn-success" href="ingredient/edit/@item.Id">Edit</a></td>
                </tr>
            }
        </tbody>
    </table>
}

@code
{
    List<IngredientPoco> Ingredients { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Ingredients = await http.GetFromJsonAsync<List<IngredientPoco>>(Urls.BackApiIngredient);
    }
}  